@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
  --secondary: #f4f4f5;
  --card: #ffffff;
  --text-secondary: #71717a;
  --accent: #019d91;
  --border: #e4e4e7;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --secondary: #111111;
  --card: #161616;
  --text-secondary: #a1a1aa;
  --accent: orange;
  --border: #262626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-card: var(--card);
  --color-muted: var(--text-secondary);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --font-sans: var(--font-inter);
}

.moirai-one-regular {
  font-family: var(--font-moirai), system-ui;
  font-weight: 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* Fix for AnimatedHeading spacing issues */
h1 span,
h2 span,
h3 span {
  white-space: pre-wrap !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}